<ion-header>
  <ion-toolbar [color]="pokemon.types[0].type.name | lowercase">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [color]="pokemon.types[0].type.name | lowercase">
  <ion-card color="light" class="ion-text-center">
    <img src="{{url + pokemon.id.toString().padStart(3, '0') + '.png'}}" >

    <ion-item lines="none" [color]="pokemon.types[0].type.name | lowercase">
      {{pokemon.id}} - {{pokemon.name | titlecase}}
    </ion-item>

    <ion-item lines="none">
      <ion-badge *ngFor="let tipo of pokemon.types" [color]="tipo.type.name | lowercase">
        {{tipo.type.name | titlecase}}
      </ion-badge>
    </ion-item>
  </ion-card>

  <ion-card color="light">
    <ion-card-header color="grass">
      <strong>Descrição</strong>
    </ion-card-header>
    <ion-card-content>
      <p>
        Bulbasaur can be seen napping in bright sunlight. There is a seed on its
        back. By soaking up the sun's rays, the seed grows progressively larger.
      </p>
    </ion-card-content>
  </ion-card>

  <div padding>
    <ion-list>
      <ion-list-header color="grass">
        <strong>Dados do Pokemon</strong>
      </ion-list-header>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Tipos</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-badge color="grass">Grass</ion-badge> &nbsp;
          <ion-badge color="poison">Poison</ion-badge>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Fraquezas</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-badge color="fire">Fire</ion-badge>&nbsp;
          <ion-badge color="fly">Fly</ion-badge> &nbsp;
          <ion-badge color="ice">Ice</ion-badge>&nbsp;
          <ion-badge color="psychic">Psychic</ion-badge>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>
