<ion-header >
  <ion-toolbar color="vermelho">
    <ion-title>Pokedex</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title >App</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionChange)="buscarPokemon($event)" placeholder="Buscar pokemons"></ion-searchbar>

  <ion-list >
    <ion-item *ngFor="let pokemons of listaPokemonFiltrada" lines="full" class="ion-no-padding" (click)="abrirPokemon(pokemons)">
      <ion-thumbnail slot="start">
        <img src="{{pokemons.foto}}">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3 (click)="abrirPokemon(pokemons)">{{pokemons.nome}}</h3>
          <ion-badge *ngFor="let tipo of pokemons.tipos" [color]="tipo | lowercase">
            {{tipo}}
          </ion-badge>
        </div>
      </ion-label>
      <ion-chip color="success">
        <ion-label>{{pokemons.numero}}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
