<ion-header >
  <ion-toolbar color="vermelho">
    <ion-title>Pokedex</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title >App</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar pokemons"></ion-searchbar>

  <ion-list lines="full" class="no-padding">
    <ion-item *ngFor="let pokemons of listaPokemon">
      <ion-thumbnail slot="start">
        <img src="{{pokemons.foto}}">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3 routerLink="/detalhe-pokemon">{{pokemons.nome}}</h3>
          <ion-badge color="normal">{{pokemons.tipos}}</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="success">
        <ion-label>{{pokemons.numero}}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
