<ion-header >
  <ion-toolbar color="vermelho">
    <ion-title>Pokedex</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title >App</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionChange)="buscarPokemon($event)" placeholder="Buscar pokemons"></ion-searchbar>

  <ion-list >
    <ion-item *ngFor="let pokemons of listaPokemonFiltrada" lines="full" class="ion-no-padding" (click)="abrirPokemon(pokemons)">
      <ion-thumbnail slot="start">
        <img [src]="pokemons.sprites.front_default">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3 (click)="abrirPokemon(pokemons)">{{pokemons.name}}</h3>
          <ion-badge *ngFor="let tipo of pokemons.types" [color]="tipo.type.name | lowercase">
            {{tipo.type.name}}
          </ion-badge>
        </div>
      </ion-label>
      <ion-chip [color]="pokemons.types[0].type.name | lowercase">
        <ion-label>{{pokemons.id}}</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
